@use 'variables' as v;
@use "sass:color";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  font-family: v.$fuente_principal;
  font-size: 1.8rem;
  color: v.$blanco;
  background-color: v.$negro;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.bg__negro {
  background-color: v.$negro;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.body {
  position: relative;
  z-index: 99;
}
