@use 'base/mixins' as m;
@use 'base/variables' as v;

.modal {
    position: fixed;
    background-color: rgb(0 0 0 / .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    &__formulario {
        max-width: 80rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: all;
        transition-duration: 1300ms;
        transition-timing-function: ease-in;
        opacity: 0;
        border-radius: 1rem;
        color: v.$negro;
        flex-direction: column; // para organizar contenido
        justify-content: space-between;

        .formulario__contenido--actualizar {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
            align-items: center;
        }
        
        .formulario__imagen{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
            flex: 1;
        }

        legend {
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
            
        }

        input[type="text"] {
            border: 1px solid v.$gris;
            border-radius: .5rem ;
        }

        .opciones {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .submit-nuevo-evento{
            @include m.boton(v.$verde, v.$blanco);
            border-radius: 1.5rem;
        }

        .submit-eliminar-evento{
            @include m.boton(v.$rojo, v.$blanco);
            border-radius: 1.5rem;
        }

        .cerrar-modal{
            @include m.boton(v.$lapiz_lazuli, v.$blanco);
            border-radius: 1.5rem;
        }

        &.animar{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }
        &.cerrar {
            transform: translateY(-200%);
            opacity: 0;
        }
    }

}